html,
body {
  height: 100%;
  padding: 0%;
  margin: 0%;
}



.btns {
  cursor: pointer;
}

.tab-area {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  background: #f6f6f6;
  border: 1px solid #e0e0e0;
  text-shadow: 0 0px 3px rgba(255, 255, 255);
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 10px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}

.tab-area input {
  display: none
}

.tab-area label {
  margin-left: auto;
  margin-right: auto;
}

.tab-area label:hover {
  cursor: pointer;
}

.tab-area input:checked+label {
  color: blue;
  font-weight: bold;
}

.tab-content {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  border-top: 2px solid rgba(200, 200, 200, 0.5);
}

#tab_dash:checked~#content0,
#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
  display: flex;
}

.dashbtn_element{
  width: 100%;
}
.dashbtn_element.head{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-block-start: 8px;
  padding-block-end: 7px;
}
.dashbtn_element.standbynum {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-block-start: 20px;
  padding-block-end: 20px;
}
.dashbtn_element.propertise {
  height: 18%;
}
.dashbtn {
  background-color: white;
  transition: background-color .5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.dashbtn:hover {
  cursor: pointer;
  background-color: rgb(140, 201, 255);
}

.notebtn {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}

.notebtn:hover {
  background-color: rgb(188, 224, 255);
}

.dash {
  background: rgb(233, 233, 233);
}

.red {
  background: white;
}

.blue {
  background: white;
}

.green {
  background: white;
}

.yellow {
  background: white;
}

.flex-contanier {
  display: flex;
  margin: 5px;
  border: 5px red;
  border-radius: 10px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.flex-contanier.row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}

.popup {
  display: none;
  /*hide setting*/
  position: fixed;
  left: 50%;
  top: 50%;
  width: 70%;
  /*가로길이 설정은 여기서*/
  margin-left: -35%;
  /*width의 반만큼 음수로*/
  height: 350px;
  /*세로길이 설정은 여기서*/
  margin-top: -175px;
  /*height의 반만큼 음수로*/
  z-index: 1000;

  /*style*/
  background: white;
  border: 1px solid #d1d8dd;
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
}

.popup_background {
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup_overlay {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
  ;
  background: rgba(0, 0, 0, 0.5);
}

.popup_layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
